# Virtual environment
venv/
ENV/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# Logs and database dumps
*.log
*.sql
*.sqlite3

# Jupyter notebooks
.ipynb_checkpoints

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Report files
*.xlsx
*.pdf

# Environment variables / secrets
.env
*.env
